<!-- FOOTER -->
<footer class="bs-docs-footer" role="contentinfo">
<div class="container">
    <div class="redes">
      <br>
      <br>
      <div class="linkredes">
        <h5>Acompanhe nas redes:</h5>
        <br>
        <a href="https://www.instagram.com/fabricio_n_miranda/?ref=settings" target="_blank"><i
            class="fa fa-instagram fa-2"></i> <%= image_tag 'instagram.png' =%> </a>
        <a href="https://twitter.com/FabricioNeryde1/?ref=settings" target="_blank">
        <i class="fa fa-twitterfa-2"></i><%= image_tag 'twitter.png' =%></a>
        <a href="https://www.linkedin.com/in/fabr%C3%ADcio-miranda-87319a137/" target="_blank"><i
            class="fa fa-linkedin fa-2"></i><%= image_tag 'Linkedin-icon-5.png' =%></a>
               <a href="https://github.com/fbrnery/" target="_blank"><i
            class="fa fa-github"></i><%= image_tag 'git.png' =%></a>
              <hr>
              <br>
              <h5>| &copy; 2020 Miranda Web in Company | </h5>
      <div>
       <p>| End: Rua Waldir de Jesus, N 240 - Curitiba/PR - Brasil - Fale Conosco: (41) 98850-3832|</p>
      <p> | Site desenvolvido no full stack Ruby on Rails | Interface responsiva Bootstrap design |.</p>
    </div>
      </div>
    </div>
    </div>
  </footer>
</div>