<br><br><br><br><br><br><br>


<div class="container">
<h3>Em breve, iremos lhe responder !!!</h1>
<hr>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @contato.nome %>
</p>
<br>
<p>
  <strong>Assunto:</strong>
  <%= @contato.assunto %>
</p>
<br>
<p>
  <strong>Email:</strong>
  <%= @contato.email %>
</p>
<br><br><br><br><br>
</div>
