<br><br>
<br><br>
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Sobre nós</h1>
                <p class="lead text-muted">
                    A Miranda Web Tecnologia é uma pequena microempresa de TI,
                    prestadora de serviços web, que nasceu no coração do desenvolvedor
                    e empreendedor digital Fabricio Miranda. Nesta página mostraremos toda nossa
                    metodologia de trabalho.
                </p>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <p class="card-text mb-auto">Fabricio Miranda</p>
                            <p class="card-text mb-auto">Curitiba-Paraná-Brasil</p>
                            <strong class="d-inline-block mb-2 text-primary">| Designer Ux e Ui | Designer de Sites.</strong>
                            <strong class="d-inline-block mb-2 text-primary">| Desenvolvedor Front-End | </strong>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <%= image_tag 'fabfoto2.jpg' =%>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div
                        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">Contatos</strong>
                            <p class="card-text mb-auto">E-mail: mirandawebtecnologia@gmail.com</p>
                            <p class="card-text mb-auto">linkedin.com/fabrício-miranda</p>
                            <p class="card-text mb-auto">instagram.com/fabricio_n_miranda</p>
                            <p class="card-text mb-auto">github.com/fbrnery</p>
                            <p class="card-text mb-auto">Telefone: (41) 98850-3832</p>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <%= image_tag '' =%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-md-12">
                    <article class="blog-post">
                        <h2 class="pb-4 mb-4 fst-italic border-bottom">Início</h2>
                        <h4><u>Formas de Contratação:</u></h4>
                        <p> - Contratos freelancers; </p>
                        <p> - Contratos CLT; </p>
                        <p> - Contratos empresariais PJ/PJ. </p>
                          <hr>
                        <h2>Nossos Serviços:</h2>
                        <br>
                        <h3><u>Nossas atividades e responsabilidades:</u></h3>
                        <h5><u>Designer Ux e Designer de sites:</u></h5>
                        </br>

                        <p>
                            - Criar mapas de experiências do usuário e fluxos de trabalho, ou seja, propor as funcionalidades e informações cruciais que o produto deve ter;
                        </p>
                        <p>
                            - Criar experiências positivas para o usuário, que gerem valor agregado e ajudem a marca a fazer parte do seu estilo de vida;
                        </p>
                        <p>
                            - Desenvolver, testar e habilitar protótipos;
                        </p>
                        <p>
                            - Otimizar os padrões de interação que permitem obter mais conversões.
                        </p>
                        <p>
                            - Como web design, projetar o visual de um site.
                        </p>

                        <h5><u>Desenvolvedor Front-end:</u></h5>
                        </br>
                        <p>
                            - Desenvolver novos produtos, funcionalidades e integrações,
                            mantendo ou melhorando os padrões de qualidade de software, no Front-End e integração com o back-end;
                        </p>
                        <p>
                            - Execução de projetos utilizando HTML, CSS e JavaScript;
                        </p>
                        <p>
                            - Criação de ferramentas e modelos de código que se comuniquem com diferentes navegadores;
                        </p>
                        <p>
                            - Implementação de designs responsivos para sites e interfaces;
                        </p>
                        <p>
                            - Teste de usabilidade do site e manutenção de bugs;
                        </p>
                        <p>
                            - Priorização e suporte à experiência do usuário.
                        </p>
                        </br>


                        <h3><u>Tipos de Aplicações de web:</u></h3>
                        </br>
                        <h4>Sites institucionais, empresáriais com caracteristicas;</h4>
                        <p>- Projetar o visual de um site;</p>
                        <p>- Desenvolver, testar e habilitar protótipos;</p>
                        <p>- Interface responsiva adaptada ao qualquer dispositivo;</p>
                        <p>- Página de contatos, com formulários para envio de e-mais;</p>
                        <p>- Links com integração com as redes sociais;</p>
                        <p>- Links para integração com whattsap bussiness;</p>
                        <p>- Integração nas pesquisas do google ads.</p>

                       
    </section>
</main>